.hero-div {
  background-image: url("https://ar-euro.s3.ap-south-1.amazonaws.com/india-webiste-17-02-24/landing+page/bharathCycle/Dhoni_Desktop.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dhoni-div {
  width: 60%;
}

.form-div {
  width: 40%;
  height: 100vh;
  background-color: white;
  padding-top: 3em;
}

label {
  font-family: Metropolis-Medium !important;
}

.form-mobile-div {
  background-color: #f5f5f5;
  border-radius: 15px;
}

@media screen and (max-width: "850px") {
  .form-control {
    border-radius: 10px;
    background-color: transparent !important;
    border: 1px solid grey;
  }
}
